<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js" th:inline="javascript"></script>
    <script src="https://www.google.com/recaptcha/enterprise.js?render=site_key"></script>
    <script src="https://kit.fontawesome.com/de1d9009fe.js" crossorigin="anonymous"></script>
    <link th:href='@{/assets/themify-icons-font/themify-icons/themify-icons.css}' rel='stylesheet'>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" th:href="@{/assets/css/login.css}">
</head>

<body th:onload="report([[${param.error}]], [[${param.turn}]])">

    <div class="alert alert_hide">
        <span class="fas fa-exclamation-circle"></span>
        <p class="alert_msg" id="report"></p>
        <div class="alert_close-btn">
            <span class="fas fa-times"></span>
        </div>
    </div>
    <div class="login_box">
        <div class="login_container">

            <div class="login_top">
                <header>Login</header>
            </div>
            <form id="login_form" th:action="@{/login}" th:object="${usersDTOLoginRequest}" method="POST">
                <div class="login_input-field ">
                    <input type="text" class="input" placeholder="Email" name="email" th:field="*{email}">
                    <i class='ti-email'></i>
                </div>

                <div class="login_input-field">
                    <input type="Password" class="input" placeholder="Password" name="password" th:field="*{password}">
                    <i class='ti-lock'></i>
                </div>

                <p style="margin-bottom: 12px;" id="remember-me">
                    <input id="btn-remember-me" type="checkbox" name="remember-me">
                    Remember me?&nbsp;
                </p>


                <div class="g-recaptcha" style="margin-bottom: 48px;" data-size="invisible"
                    th:data-sitekey="${site_key}" data-callback="onSubmit"></div>

                <div class="login_input-field captcha_button ">
                    <button type="button" class="login_submit" onclick="formSubmit()" value="Login">Login</button>
                </div>

            </form>
            <div class="login_two-col">
                <div class="login_one">
                    <label><a href="/homepage">Homepage</a></label>
                </div>
                <div class="login_one">
                    <label><a href="/register">Register</a></label>
                </div>
                <div class="login_two">
                    <label><a href="/find-email">Forgot password?</a></label>
                </div>
            </div>
        </div>

        <script th:src="@{/assets/javascript/login.js}"></script>
        <script th:src="@{/assets/javascript/captchaExcute.js}"></script>
        <script>
            function onSubmit() {
                document.getElementById('login_form').submit();
            }

            function formSubmit() {
                const form = document.getElementById('login_form');
                if (form.checkValidity()) {
                    grecaptcha.execute();
                } else {
                    form.reportValidity();
                }
            }
        </script>
</body>

</html>